/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 31, 2017, 11:58:50 PM
    Author     : Rashad
*/
.blog-crumbs {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    padding: 20px 0px;
    background: rgba(0,0,0,0.7);
    width: 400px;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
}
.blog-crumbs h1 {
    font-size: 21px;
    text-transform: uppercase;
    color: whitesmoke;
    line-height: 27px;
    margin-bottom: 3px;
    letter-spacing: 0.1em;
}
.blog-crumbs p {
    font-size: 13px;
    text-transform: uppercase;
    color: whitesmoke;
    letter-spacing: 0.1em;
    line-height: 15px;
}
.crumbs-area {
    background: url(../../img/blog/blog_header.jpg);
    background-size: cover;
    background-position:center top;
    height: 370px;
    position: relative;
    overflow: hidden;
    clear: both;
}
.crumbs-area::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
}
.crumbs {
    height: 370px;
}
.blog-post-sec {
    padding: 80px 0px;
}
.single-blog-p {
    position: relative;
    overflow: hidden;
}
.single-blog-p .blog-img {
    max-width: 45%;
    min-width: 45%;
    height: auto;
    padding-right: 20px;
}
.single-blog-p .video{
    max-width: 45%;
    min-width: 45%;
    height: auto;
    position: relative;
}
.video a.video-link {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: block;
    height: 50px;
    width: 50px;
    background: rgba(0,0,0,0.7);
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 18px;
    padding-left: 4px;
}
/*hiding saveformnet download link start*/
.video > span {
    display: none !important;
}
/*hiding saveformnet download link start*/
.blog-p-info {
    min-width: 55%;
    max-width: 55%;
    height: auto;
    padding-right: 25px;
}
.blog-p-info h1.blog-title a {
    display: inline-block;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 22px;
    margin-bottom: 15px;
    letter-spacing: 0.1em;
    color: #444;
    margin-top: 14px;
}
.blog-p-info p.author {
    font-size: 14px;
    color: #666;
    letter-spacing: 0.02em;
    line-height: 18px;
    margin-bottom: 6px;
}
.blog-p-info p.author i {
    font-size: 16px;
    margin-right: 4px;
}
.blog-p-info p.post-text {
    letter-spacing: 0.01em;
    color: #444;
    margin-bottom: 13px;
}
.blog-p-info p.inf-btm {
    line-height: 17px;
    letter-spacing: 0.02em;
    color: #777;
}
.blog-p-info p.inf-btm span.date-titme {
    margin-right: 10px;
}
.blog-p-info p.inf-btm span.comment{
    color: #444;
    font-weight: 600;
}
.blog-p-info p.post-text span.more {
    margin-left: 10px;
}
.blog-p-info p.post-text span.more a {
    color: #ed7f7f;
    letter-spacing: 0.05em;
    overflow: hidden;
}
.pagination-section {
    text-align: center;
}
ul.pagination-ul {
    margin: 0;
    margin-top: 80px;
    display: inline-block;
    background: #f9eeee;
    position: relative;
    box-shadow: -2px 2px 2px #ccc;
}
ul.pagination-ul::before {
    content: '';
    position: absolute;
    height: 37px;
    width: 64%;
    left: 20%;
    bottom: 2px;
    border-radius: 27%;
    box-shadow: 0px 3px 6px 3px #ccc;
    z-index: -1;
}
ul.pagination-ul li{
    display: inline-block
}
ul.pagination-ul li a {
    display: block;
    padding: 16px 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: #444!important;
}
ul.pagination-ul li a:hover, ul.pagination-ul li.active a,ul.pagination-ul li.prev a:hover,
ul.pagination-ul li.next a:hover{
    background-color: #ed7f7f;
    color: white !important;
}
ul.pagination-ul li.prev a, ul.pagination-ul li.next a {
    font-weight: 500;
    color: #555 !important;
    background: #f2e5e5;
    font-size: 11px;
    letter-spacing: 0.2em;
}
.contact-section {
	border-top: 1px solid #ddd;
}